# PYTHON_ENV_DIR: (optional) where uv should create the virtual environment - set to .venv for default
export PYTHON_ENV_DIR=
# PLATFORMIO_PYTHON_EXE: (optional) where the Python executable platformio should use is - set to the one in .venv for default
export PLATFORMIO_PYTHON_EXE=
# PLATFORMIO_HOME_DIR: (optional) where platformio should install to - set for local install
export PLATFORMIO_HOME_DIR=
# UV_PYTHON_INSTALL_DIR: (optional) where uv should install to - set for local install
export UV_PYTHON_INSTALL_DIR=
# PYTHONIOENCODING: (optional) - set encoding to utf-8 for Windows
export PYTHONIOENCODING=
# GIT_PATH: (optional) where Git is installed - set to portable Git bin dir for Windows
export GIT_PATH=
# USE_DIR_ENV: (optional) - set true to use direnv to load venv
export USE_DIR_ENV=
# USE_UV: (optional) - set true to use UV to create venv
export USE_UV=

source_env .envrc.private
source_env .config/direnvrc

ensure_all_documented
ensure_all_set

#explicit default to false although unset already false
if [ -z "$USE_DIR_ENV" ]; then
    USE_DIR_ENV=false
fi
if [ -z "$USE_UV" ]; then
    USE_UV=false
fi

if [ "$USE_DIR_ENV" = "true" ]; then # Use direnv to load the venv
	if [ -n "$GIT_PATH" ]; then
    PATH_add "$GIT_PATH"
  fi
	if [ "$USE_UV" = "true" ]; then # Use uv to create the venv
		if [ ! -d "$PYTHON_ENV_DIR" ]; then
		  uv venv "$PYTHON_ENV_DIR"
		fi
	fi
    
	VIRTUAL_ENV=$PYTHON_ENV_DIR
	if [ -x "$VIRTUAL_ENV/bin/python" ]; then
	  # Linux venv layout
	  PATH_add "$VIRTUAL_ENV/bin"
	  source "$VIRTUAL_ENV/bin/activate"
	elif [ -x "$VIRTUAL_ENV/Scripts/python.exe" ]; then
	  # Windows venv layout
	  PATH_add "$VIRTUAL_ENV/Scripts"
	  source "$VIRTUAL_ENV/Scripts/activate"
	fi
fi


